<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/leadway-logo.png">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/dist/output.css" />
</head>

<body class="flex text-[#7a7c87] font-Mulish h-screen">
    <aside
        class="lg:flex h-full text-white flex-col items-center justify-start bg-[#2F2F2F] w-16 pt-32 gap-8 hidden md:flex">
        <a href="#"><img src="/images/svgs/side-bar-1.svg" alt="home" /></a>
        <span class="bg-[#ffffff] w-full inline-flex justify-center py-2">
            <a href="#"><img src="/images/svgs/side-bar-2.svg" alt="home" /></a>
        </span>
        <a href="#"><img src="/images/svgs/side-icon-3.svg" alt="home" /></a>
        <a href="#"><img src="/images/svgs/side-icon-4.svg" alt=""></a>
        <a href="#"><img src="/images/svgs/side-icon-5.svg" alt=""></a>
        <a href="#"><img src="/images/svgs/side-icon-6.svg" alt="home" /></a>
    </aside>

    <aside
        class="w-52 h-full lg:flex flex-col items-start justify-start pt-12 p-5 gap-5 border border-[#EEEEEE] hidden md:flex">
        <a href="#" class="flex items-center"><img src="/images/lac-dashboard-logo.png" alt="logo" /></a>
        <span class="text-slate-500">TRM</span>
        <button onclick="loadPage('/pages/dashboard.html', this)"
            class="mb-2 flex items-center justify-start text-[#FF7A00]">
            <img src="/images/svgs/real-overview.svg" alt="home">
            <span class="text-sm text-[#FF7A00] ml-3">Overview</span>
        </button>
        <button onclick="loadPage('/pages/inspection-tables/all-requests.html', this)"
            class="mb-5 flex items-center dynamic-button">
            <img src="/images/svgs/requests.svg" width="22px" height="18px" alt="">
            <span class="text-sm text-[#9FA8AF] ml-3">Requests</span>
        </button>
    </aside>

    <div class="flex flex-1 flex-col h-full w-full lg:w-auto" style="width: calc(100vw - 64px - 3rem)">
        <header class="bg-white w-full h-16 flex justify-between items-center p-4 shadow">
            <div style="width: 70px"></div>
            <div class="flex items-center justify-center relative p-1 gap-3">
                <img src="/images/svgs/notification-icon.svg" alt="home" />
                <img src="/images/svgs/AM.svg" alt="home" />
                <span class="">Adesola</span>
                <img src="/images/svgs/arrow-facing-down.svg" alt="home" />
            </div>
        </header>

        <main id="content" class="flex-1 p-6  overflow-y-auto">
            <!-- content will be loaded here -->
        </main>
    </div>
    <script>
        function loadPage(page, button) {
            fetch(page)
                .then((response) => response.text())
                .then((data) => {
                    document.getElementById("content").innerHTML = data;
                });

            // Remove the active class from all buttons
            document.querySelectorAll(".dynamic-button").forEach((btn) => {
                btn.classList.remove("active");
            });

            // Add the active class to the clicked button
            // button.classList.add("active");
        }

        // The default page loads
        document.addEventListener("DOMContentLoaded", function () {
            loadPage("/pages/dashboard.html", document.getElementById(
                "initial-dynamic-button"));
        });

        //CHANGE FORM P
        // let selectedFormType = '';

        // function changeStyle(div) {
        //     // Reset borders for all divs
        //     const divs = document.querySelectorAll('.form-select-div');
        //     divs.forEach(d => d.style.borderColor = "#e5e7eb"); // Reset to default border color

        //     // Set border color for the clicked div
        //     div.style.borderColor = "#ff7a00";

        //     const externalButton = document.getElementById("external-button");
        //     externalButton.style.backgroundColor = "#ff7a00";
        //     externalButton.style.color = "#ffffff";
        //     externalButton.disabled = false;

        //     // Determine the form type based on the clicked div
        //     if (div.querySelector('img').src.includes('pre-loss-inspectino.svg')) {
        //         selectedFormType = 'pre-loss';
        //     } else if (div.querySelector('img').src.includes('post-loss-inspection.svg')) {
        //         selectedFormType = 'post-loss';
        //     }

        //     // Update the button's onclick attribute to load the correct form URL
        //     externalButton.onclick = function () {
        //         loadForm(selectedFormType);
        //     };
        // }


        // function loadForm(type) {
        //     let formUrl = '';

        //     if (type === 'pre-loss') {
        //         formUrl = '/pages/forms/property/pre-loss-property.html';
        //     } else if (type === 'post-loss') {
        //         formUrl = '/pages/forms/property/post-loss-property.html';
        //     }

        //     // Load the form page into the content area
        //     loadPage(formUrl);
        // }


        // THIS WORKS
        let selectedFormType = '';
        let selectedOption = '';

        function changeStyle(div) {
            // Reset borders for all divs
            const divs = document.querySelectorAll('.form-select-div');
            divs.forEach(d => d.style.borderColor = "#e5e7eb"); // Reset to default border color

            // Set border color for the clicked div
            div.style.borderColor = "#ff7a00";

            const externalButton = document.getElementById("external-button");
            externalButton.style.backgroundColor = "#ff7a00";
            externalButton.style.color = "#ffffff";
            externalButton.disabled = false;

            // Determine the form type based on the clicked div
            if (div.querySelector('img').src.includes('pre-loss-inspectino.svg')) {
                selectedFormType = 'pre-loss';
            } else if (div.querySelector('img').src.includes('post-loss-inspection.svg')) {
                selectedFormType = 'post-loss';
            }

            // Get the selected option
            selectedOption = document.getElementById('select-choice').value;

            console.log(`Selected form type: ${selectedFormType}`);
            console.log(`Selected option: ${selectedOption}`);

            // Update the button's onclick attribute to load the correct form URL
            externalButton.onclick = function () {
                loadForm(selectedFormType, selectedOption);
            };
        }

        function loadForm(formType, option) {
            let formUrl = '';

            if (option === 'property') {
                if (formType === 'pre-loss') {
                    formUrl = '/pages/forms/property/pre-loss-property.html';
                } else if (formType === 'post-loss') {
                    formUrl = '/pages/forms/property/post-loss-property.html';
                }
            } else if (option === 'motors') {
                if (formType === 'pre-loss') {
                    formUrl = '/pages/forms/motors/pre-loss.html';
                } else if (formType === 'post-loss') {
                    formUrl = '/pages/forms/motors/post-loss.html';
                }
            }

            console.log(`Loading form URL: ${formUrl}`);

            // Load the form page into the content area
            if (formUrl) {
                loadPage(formUrl);
            }
        }


        document.getElementById("dropdown-toggle").addEventListener("click", function () {
            var dropdown = document.getElementById("dropdown-menu");
            dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";
        });

        window.addEventListener("click", function (e) {
            if (!document.querySelector(".material-icons").contains(e.target) &&
                !document.getElementById("dropdown-menu").contains(e.target)) {
                document.getElementById("dropdown-menu").style.display = "none";
            }
        });


        function toggleContent(event, target) {
            document.querySelectorAll(".toggle-button").forEach((button) => {
                button.classList.remove("text-[#FF7A00]", "border-b-2", "border-[#FF7A00]");
                button.style.color = "#9FA8AF";
            });

            document.querySelectorAll(".content").forEach((content) => {
                content.classList.add("hidden");
            });

            document.querySelector("." + target).classList.remove("hidden");
            event.target.classList.add("text-[#FF7A00]", "border-b-2", "border-[#FF7A00]");
            event.target.style.color = "#FF7A00"
        }
    </script>
</body>

</html>